/*General CSS*/
body {
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}


/* Navbar */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-top: 0.5px solid rgba(255, 255, 255, 0.2);
    background: linear-gradient(to bottom, #bd6c46, #d1865e);
    height: 2.75rem;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    color: white;
    padding: 1rem 2rem;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 13.75rem;

}

.nav a {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: white;
    background-clip: text;
    text-decoration: none;
    padding: 0.625rem;
    position: relative;
    font-size: 1.5rem;
    transition: all 0.3s ease-in-out;
}

.nav .middle-section a::after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: -3px;
    background: linear-gradient(to right, #800000, #be4444);
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.nav a:hover::after {
    transform: scaleX(1);
}

.nav .middle-section a:hover {
    background: linear-gradient(to right, #8f0202, #be4444);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.ham {
    display: none;
    flex-direction: column;
    gap: 0.3125rem;
    cursor: pointer;
}

#menu {
    display: none;
}

.ham span {
    display: block;
    width: 2.1875rem;
    height: 0.25rem;
    background-color: white;
    border-radius: 2px;
    transition: 0.3s;
    left: 5.625rem;

}

.logo {
    height: 4.375rem;
    object-fit: contain;

}

.left-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 0.625rem;
}

/*Image Slider*/

.img-map-container {
    padding: 3.125rem;
    z-index: 0;
    position: relative;
}

.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
}

.img-header {
    position: absolute;
    z-index: 3;
    top: 45%;
    left: 8%;
    color: white;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
}

.loc-pin {
    height: 2.25rem;
    width: auto;
    margin: 0px 0px 0px 10px;
    animation: bounce 2s infinite;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
    }

    60% {
        transform: translateY(-10px);
    }
}

.title {
    font-size: 4.75rem;
    font-weight: bold;
}
.aj-title{
    font-size: 4rem;
    font-weight: bold;
}

.sub-title {
    font-size: 2.25rem;
}

input[type="radio"] {
    display: none;
}

.thumbnails {
    position: absolute;
    top: 2%;
    left: 72.5%;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.thumbnails label img:hover {
    border: 2px solid white;
    transform: scale(1.05);
}

.thumbnails label img {
    height: 9rem;
    width: 18rem;
    object-fit: cover;
    border-radius: 1rem;
    border: 1px solid white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    margin: 0.5rem;
    transition: transform 0.3s;
}

.main-imgs {
    position: relative;
    height: 45rem;
    width: 100%;
}

.main-imgs .main {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.7s ease-in-out;
    z-index: 0;
}

#img1:checked~.main-imgs #main1,
#img2:checked~.main-imgs #main2,
#img3:checked~.main-imgs #main3,
#img4:checked~.main-imgs #main4 {
    opacity: 1;
    z-index: 1;
}

.arrows {
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1.25rem;
}

.arrow {
    color: white;
    border: none;
    font-weight: 900;
    padding: 0.625rem 0.9375rem;
    border-radius: 50%;
    cursor: pointer;
    font-size: 3.5rem;
    z-index: 2;
    display: none;
    transition: color 0.3s;
}

.arrow:hover {
    color: #00FFFF;
}

.right {
    right: 0.625rem;
}

.left {
    left: 0.625rem;
}

#img1:checked~.main-imgs .next1,
#img2:checked~.main-imgs .next2,
#img3:checked~.main-imgs .next3,
#img4:checked~.main-imgs .next4,
#img1:checked~.main-imgs .prev1,
#img2:checked~.main-imgs .prev2,
#img3:checked~.main-imgs .prev3,
#img4:checked~.main-imgs .prev4 {
    display: block;
}

/*Map and Best time to visit*/
.map-container {
    display: flex;
    position: relative;
    margin: -1.75rem auto 1.25rem auto;
    width: 92%;
    background-color: white;
    border: 2px solid #ddd;
    padding: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.map-img {
    height: 25rem;
    width: 37.5rem;
}

.map-info {
    padding: 2.5rem;

}

.map-info h2 {
    font-size: 2.125rem;
    font-weight: bold;
    margin-bottom: 1.25rem;
    margin-top: 1rem;
    color: rgb(255, 101, 68);
}

.btv-info {
    width: 42rem;
    padding: 1.75rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    display: flex;
    gap: 3rem;
    margin-bottom: 1.5rem;
}

.btv-info h3 {
    font-size: 1.5rem;
    font: bold;
    margin-bottom: 0.875rem;
}

.ls,
.reg {
    font-size: 1.75rem;
    font: bold;
    margin-bottom: 1rem;
}

.ls span,
.reg span {
    color: rgb(255, 101, 68);
}

.btv-info p {
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: 1px;
}

.btv-info .peak p:hover {
    color: rgb(51, 209, 143);
    font-weight: 500;
}

.btv-info .moderate p:hover {
    color: rgb(248, 231, 28);
}

.btv-info .off p:hover {
    color: red;
}

.season p::before {
    content: " ";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 6px;
    border-radius: 50%;
    vertical-align: middle;
}

.peak p::before {
    background-color: rgb(51, 209, 143);
}

.moderate p::before {
    background-color: rgb(248, 231, 28);
}

.off p::before {
    background-color: red;
}

/*Overview & Tips*/

.overview-tips-taj-container {
    background-image: url('h-img/taj-back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
}

.overview-tips-hampi-container {
    background-image: url('h-img/hampi-backdrop2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
}
.overview-tips-ajanta-container {
    background-image: url('h-img/ajantaellora-back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    background-size: contain;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    flex-direction: column;
    color: black;
    text-align: justify;
    padding: 2rem 3rem;
}

.overview h1,
.tips-container h1 {
    margin-bottom: 1rem;
    font-size: 2.125rem;
    font-weight: 800;
}

.overview p
 {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5rem;
    margin-bottom: 0.625rem;
}
.tips-container p{
       font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.75rem;
    margin-bottom: 0.625rem;
}

/*Food & Culture Container*/

.fnc-container {
    margin: 5rem 0rem;
    display: flex;
    justify-content: center;
    height: 90vh;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.food-img-container,
.c-img-container {
    width: 30%;
}

.fnc-info {
    padding: 2rem 2.5rem;
    width: 40%;
}

.fnc-info h1 {
    margin-bottom: 1.5rem;
    font-size: 2.125rem;
    font-weight: 800;
}

.fnc-info p {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.65rem;
    letter-spacing: 1px;
    margin-bottom: 1.25rem;
    text-align: justify;
}

.c-img,
.f-img {
    height: 100%;
    width: 100%;
}

/*How to get*/

.how-container {
    padding: 3.125rem 9.375rem;
    background-color: #f8f8f9;
}

.how-info {
    background-color: rgb(255, 101, 68);
    border-radius: 2.25rem;
    padding: 5% 8% 12% 8%;
}

.how-info h1 {
    color: white;
    text-align: center;
    margin: 1.75rem 0rem;
    font-size: 2.25rem;
    font-weight: 800;
}

.how-info p {
    color: white;
    font-size: 1.125rem;
    font-weight: 500;
    letter-spacing: 1px;
}

.how-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.25rem;
    padding: 0rem 5rem;
    margin: -6.5rem auto 1.25rem auto;
}

.how-card {
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.by-img-con {
    height: 8.75rem;
    width: 8.75rem;
    border: 1px solid #f56502;
    border-radius: 50%;
    margin: 0 auto;
}

.by-img {
    margin: 2.25rem 1.25rem;
    vertical-align: center;
}

.how-card h3 {
    font-size: 1.25rem;
    padding: 0.75rem;
    text-align: center;
}

.how-card p {
    font-size: 1rem;
}

/* Nearby Attractions */
.card-item {
    color: #fff;
    user-select: none;
    transform: translateY(0);
    border-radius: 20px;
    transition: all 0.3 ease-in;
}

.card-item:hover {
    transform: translateY(-20px) !important;
    cursor: pointer;
}

.card-item img {
    width: 100%;
    height: 375px;
    position: relative;
    border-radius: 1rem;
}

.card-data {
    width: 100%;
    height: 120px;
    position: absolute;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    bottom: 3px;
    background: linear-gradient(180deg, hsla(0, 48%, 59%, 0)0, rgba(0, 0, 0, .7)40%);
}

.card-data h2 {
    position: absolute;
    bottom: 30px;
    left: 80px;
    right: 50px;
}

.slider-wrapper {
    width: 1300px;
    margin: 25px 70px 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;

}

@media(min-width:1400px) {
    .slider-wrapper {
        width: 1580px;
    }

    .subheading {
        margin-right: 200px;
    }

    .cutout-text {
        margin-right: 200px;
    }
}

.subheading {
    color: rgba(0, 0, 0, 0.4);
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 2px;
    position: relative;
}

.subheading::before,
.subheading::after {
    content: "";
    height: 2px;
    width: 40px;
    background: rgba(0, 0, 0, 0.4);
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
}

.cutout-text {
    font-size: 60px;
    font-weight: bold;
    color: #f56502;

    text-transform: uppercase;
    margin-bottom: 30px;
}

.slider-wrapper .swiper-pagination-bullet {
    background: #1b1b1b;
    height: 15px;
    width: 15px;
}

/*Footer*/

footer {
    width: 100%;
    margin-top: 30px;
}

.footer-container {
    padding: 5rem 10%;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to top, #d09c7b, #e8bfa1);
}

.row {
    display: flex;
    justify-content: space-between;
}

.svg-logo {
    margin-right: 0.625rem;
    height: 2.5rem;
    transition: transform 0.2s ease;
}

.row h3 {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
    color: #2c2c2c;
    position: relative;
}

.row h3::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 60%;
    height: 3px;
    background-color: #a85b36;
    border-radius: 2px;
}

.col-1 a {
    text-decoration: none;
    color: #2d2d2d;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.col-1 a:hover {
    color: white;
    text-decoration: underline;
    padding: 0px 10px;
}

.col-1 {
    display: flex;
    flex-direction: column;
}

.col-2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.newsletter-input {
    border: none;
    outline: none;
    height: 2.5rem;
    width: 24rem;
    padding: 0.625rem;
    border-radius: 0.375rem;
    margin-bottom: 1.25rem;
    transition: box-shadow 0.3s ease;
}

.newsletter-input:focus {
    outline: none;
    box-shadow: 5px 5px 5px rgba(184, 110, 77, 0.5);
}

.newsletter-input::placeholder {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}

.sub-btn {
    font-size: 1rem;
    font-weight: 600;
    padding: 0.625rem 2rem;
    background-color: #fff;
    color: #a85b36;
    border: 2px solid #a85b36;
    border-radius: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sub-btn:hover {
    background-color: #a85b36;
    color: white;
}

.col-3 svg {
    transition: transform 0.3s ease;
}

.col-3:hover svg {
    transform: scale(1.15);
}