/*Login-Page CSS*/
body {
    margin: 0;
    padding: 0;
    background: #f6f7fc;
}

h1,
p {
    margin: 0;
    padding: 0;
}

header {
    background-image: url('img/main.png');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 16vh;
}

.login-body {
    display: flex;
    justify-content: center;
    margin-top: 7.5rem;
}

.login-card {
    display: flex;
    flex-direction: column;
    width: 21.875rem;
    border: none;
    padding: 2rem;
    background-color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.heading {
    margin-bottom: 2rem;
    text-align: center;
}

.login-details-container p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.login-details-container input {
    background-color: #f0f0f0;
    border: none;
    outline: none;
    width: 20.875rem;
    padding: 0.75rem 0.5rem;
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
}

.container {
    display: flex;
    align-items: center;
}

.container p {
    margin: 0.25rem 7.5rem 0.25rem 0.125rem;
}

.container a {
    color: skyblue;
}

.container a:hover {
    color: red;
    text-decoration: none;
}

.login-btn {
    background-color: skyblue;
    border: none;
    margin-top: 2rem;
    padding: 0.75rem 1.75rem;
    border-radius: 0.25rem;
    margin-left: 8.125rem;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #5ca9e9;
}

.login-message {
    text-align: center;
    margin-top: 1rem;
    font-weight: bold;
}